.App {
  text-align: center;
}

header {
  background-color: #444;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

#map {
  height: 100%;
  width: 100%;
}

.infoText {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.infoImage {
  margin: .5em;
}
