.App {
  text-align: center;
}

h1 {
  font-family: 'arial', sans-serif;
}

#header {
  background-color: #444;
  min-height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: #fff;
}

#header .btnMenu {
  position: absolute;
  left: 40px;
  top: 36px;
  padding: 3px 6px;
  border: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

#map {
  height: 100%;
  width: 100%;
}

.infoText {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.infoImage {
  margin: .5em;
}

/** SIDEBAR **/

#sidebar {
  width: 0;  /**initially hidden**/
  height: 100%;
  position: fixed;
  z-index: 1;  /**stay on top**/
  top: 0;  /**stay at top**/
  left: 0;
  background-color: #fff;
  overflow-x: hidden;  /**disable horizontal scroll**/
  padding-top: 20px;
  transition: 0.5s;
}

#sidebar .btnClose {
  postion: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 80%;
  border: 0;
  text-decoration: none;
  background-color: transparent;
}

#sidebar .btnClose:hover {
  font-weight: bold;
}

#search {
  width: 95%;
  padding: 10px 5%;
}

#searchBox {
  width: 74%;
  height: 30px;
  margin-left: 0px;
  padding: 2px;
}

#infoDisplay {
  width: 80%;
  min-height: 100px;
  padding: 10% 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-size: 1em;
  color: #555;
  background-color: #bbb;
  visibility: hidden;
}

.listItem {
  width: 90%;
  padding: 20px;
  border: 0;
  text-align: left;
  font-family: 'helvetica', sans-serif;
  font-size: 1.2em;
  background-color: #fff;
}

.listItem:hover {
  background-color: #abcbff;
  color: #fff;
}

/** RESPONSIVENESS **/

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.5em;
  }

  #header {
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 0.5em;
  }
}

@media screen and (min-width: 451px & max-width: 580px) {
  #header {
    font-size: 1.5em;
  }
}
